/* === Barlow Semi Condensed - regular */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/font/BarlowSemiCondensed-Regular.eot');
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'),
    url('./fonts/font/BarlowSemiCondensed-Regular.eot') format('embedded-opentype'),
    url('./fonts/font/BarlowSemiCondensed-Regular.woff2') format('woff2'),
    url('./fonts/font/BarlowSemiCondensed-Regular.woff') format('woff'),
    url('./fonts/font/BarlowSemiCondensed-Regular.ttf') format('truetype'),
    url('./fonts/font/BarlowSemiCondensed-Regular.svg') format('svg');
}

/* === Satisfy - regular */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/font/Satisfy-Regular.eot');
  src: local('Satisfy Regular'), local('Satisfy-Regular'),
    url('./fonts/font/Satisfy-Regular.eot') format('embedded-opentype'),
    url('./fonts/font/Satisfy-Regular.woff2') format('woff2'),
    url('./fonts/font/Satisfy-Regular.woff') format('woff'),
    url('./fonts/font/Satisfy-Regular.ttf') format('truetype'),
    url('./fonts/font/Satisfy-Regular.svg') format('svg');
}

// /* === Barlow Semi Condensed - regular */
// @font-face {
//   font-family: 'Barlow Semi Condensed';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url('./app/style/fonts/font/BarlowSemiCondensed-Regular.eot');
//   src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'),
//     url('./app/style/fonts/font/BarlowSemiCondensed-Regular.eot') format('embedded-opentype'),
//     url('./app/style/fonts/font/BarlowSemiCondensed-Regular.woff2') format('woff2'),
//     url('./app/style/fonts/font/BarlowSemiCondensed-Regular.woff') format('woff'),
//     url('./app/style/fonts/font/BarlowSemiCondensed-Regular.ttf') format('truetype'),
//     url('./app/style/fonts/font/BarlowSemiCondensed-Regular.svg') format('svg');
// }

// /* === Satisfy - regular */
// @font-face {
//   font-family: 'Satisfy';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url('./app/style/fonts/font/Satisfy-Regular.eot');
//   src: local('Satisfy Regular'), local('Satisfy-Regular'),
//     url('./app/style/fonts/font/Satisfy-Regular.eot') format('embedded-opentype'),
//     url('./app/style/fonts/font/Satisfy-Regular.woff2') format('woff2'),
//     url('./app/style/fonts/font/Satisfy-Regular.woff') format('woff'),
//     url('./app/style/fonts/font/Satisfy-Regular.ttf') format('truetype'),
//     url('./app/style/fonts/font/Satisfy-Regular.svg') format('svg');
// }
